<p>userlist works!</p>

<div *ngFor="let user of users">




    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.first_name}}</mat-card-title>
            <mat-card-subtitle>{{user.last_name}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image style="width: 150px !important;" src="{{user.avatar}}" alt="{{user.first_name}}">
        <mat-card-content>
            <p>
            Email: {{user.email}}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <a class="btn btn-primary" [routerLink]="['/users/' , user.id]"> Ver</a>
        </mat-card-actions>

    </mat-card>



</div>