<p>userdetail works!</p>


<form>

    <img mat-card-image style="width: 150px !important;" src="{{user.avatar}}" alt="{{user.first_name}}">


    <div class="form-group">

        <label for="formName">Name</label>
        <input type="text" readonly class="form-control" id="formName" name="user.first_name" [(ngModel)]="user.first_name">

        <label for="formSurname">Surname</label>
        <input type="text" readonly class="form-control" id="formSurname" name="user.last_name" [(ngModel)]="user.last_name">

        <label for="formEmail">Email address</label>
        <input type="email" readonly class="form-control" id="formEmail" name="user.email" [(ngModel)]="user.email">

        <br />

        <label for="formJob">Job</label>
        <input type="text" class="form-control" id="formJob" name="job" [(ngModel)]="job">

        <label for="formAlias">Alias</label>
        <input type="text" class="form-control" id="formAlias" name="alias" [(ngModel)]="alias">

        <br />

        <button (click)="doEdit()" class="btn btn-lg btn-primary btn-block">Editar</button>

        <button (click)="doDelete()" class="btn btn-lg btn-danger btn-block">Eliminar</button>


    </div>

    <br />
    <p>{{info}}</p>
    <br />


</form>